/* DISEÑO RESPONSIVE: DESKTOP */
@media (min-width: 992px) {
    *{
    background-color: #f3f5fc;
    font-family: "Inter";
    font-weight: 400%;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;
}

.logo{
    margin-top: 5%;
    margin-left: 1%;
    width: 8%;
}

main{
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
}
.text-area {
    height: 60%;
    border: none;
    color: #0A3871;
    margin-top:5.3%;
    text-transform: lowercase;
}
::placeholder{ color: #0A3871; }
 .text-area:focus {
    outline: none;
 }

.mensaje{
    background: white;
    background-image: url(imagenes/Muñeco.png);
    background-repeat: no-repeat;
    border: solid;
    border-color: white;
    height: 450px;
    border-radius: 24px;
    color: #0A3871;
    margin-left:87px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}
.mensaje:hover{
    border-color: rgb(87, 185, 218);

}
.mensaje:focus {
    outline: none;
   
}
.columna{
    display:flex;
}
.alerta{
    margin-bottom: 8%;
    margin-top: 7%;
    margin-left: 1%;
    display: flex;
    gap: 1em;

  
 }
.informacion{
    color: #495057;
    font-size: 58%;
    display: flex;
    margin-left: 2%;
    
}
.botones{
    display: flex;
    margin-top: 2%;
}
.btn-desencriptar{
    background: white;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}
.btn-encriptar{
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}
#texto2{
    font-size:center;
}
.sinMsj{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    position: relative;
    margin-left: 15%;
    margin-top: 50%;
    margin-right:2%;
    width: 360px;

}
.ingreseMsj{
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    position: relative;
    margin-left: 100px;
    margin-right: 180px;
    width: 360px;


}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 620px;
    position: absolute;
    width: 336px;
}
}
/* DISEÑO RESPONSIVE: TABLET */
@media (min-width: 599px) and (max-width: 991px) {
    * {
        box-sizing: border-box;
        margin: 0%;
        padding: 0%;
    }
    
    body {
        background-color: #f3f5fc;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px; /* Reducir el tamaño de fuente para dispositivos móviles */
        line-height: 1.5;
        overflow-y: hidden; /* Evita el desplazamiento vertical en dispositivos móviles */
    }
    
    .logo {
        margin-top: 10px; /* Reducir el margen superior */
        margin-left: 10px;
        width: 15%; /* Ajustar el tamaño del logo para dispositivos móviles */
    }
    
    main {
        display: flex;
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        margin-bottom: 10px;
        margin-left: 10px; /* Reducir el margen izquierdo */
    }
    
    .text-area {
        border-radius: 15px;
        margin-left: 17px;
        text-align: center;
        height: 235px; /* Reducir la altura del área de texto para dispositivos móviles */
        border: none;
        color: #0A3871;
        margin-top: 10px; /* Reducir el margen superior */
        text-transform: lowercase;
        width: 90%;
    }
    
    ::placeholder {
        color: #0A3871;
    }
    
    .mensaje {
        background: white;
        background-image: url(imagenes/Muñeco.png);
        background-repeat: no-repeat;
        border: solid;
        border-color: white;
        height: 295px; /* Reducir la altura del mensaje para dispositivos móviles */
        border-radius: 15px; /* Reducir el radio del borde para dispositivos móviles */
        color: #0A3871;
        margin: 3px; /* Ajustar el margen en dispositivos móviles */
        padding: 12px; /* Ajustar el relleno en dispositivos móviles */
        margin-left: 17px;
        text-align: center;
        width: 90%;
       
       
    }
    
    .mensaje:hover {
        border-color: rgb(87, 185, 218);
    }
    
    .columna {
        display: flex;
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        margin: 10px; /* Ajustar el margen en dispositivos móviles */
    }
    
    .alerta {
        margin: 2% 49%; /* Ajustar el margen en dispositivos móviles */
        display: flex;
        gap: 1em;
    }
    
    .informacion {
        color: #495057;
        font-size: 14px; /* Reducir el tamaño de fuente para dispositivos móviles */
        margin: 10px; /* Ajustar el margen en dispositivos móviles */
        text-align: center;
    }
    
    .botones {
        display: flex;
        margin: 10px; /* Ajustar el margen en dispositivos móviles */
    }
    
    .btn-desencriptar, .btn-encriptar {
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #0A3871;
        margin: 5px; /* Ajustar el margen en dispositivos móviles */
        padding: 10px; /* Ajustar el relleno en dispositivos móviles */
        width: 100%; /* Ancho completo en dispositivos móviles */
    }
    
    #texto2 {
        text-align: center;
        font-size: 14px; /* Reducir el tamaño de fuente para dispositivos móviles */
    }
    
    .sinMsj {
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 18px; /* Ajustar el tamaño de fuente en dispositivos móviles */
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0em;
        margin: 5px 5px; /* Ajustar el margen en dispositivos móviles */
    }
    
    .ingreseMsj {
        text-align: center;
        font-size: 14px; /* Reducir el tamaño de fuente para dispositivos móviles */
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0em;
        margin: 5px 5px; /* Ajustar el margen en dispositivos móviles */
    }
    
    .copiar {
        border: 1px solid #0A3871;
        border-radius: 12px; /* Reducir el radio del borde para dispositivos móviles */
        color: #0A3871;
        cursor: pointer;
        margin: 5px 10px; /* Ajustar el margen en dispositivos móviles */
        margin-top: 39%;
        padding: 10px; /* Ajustar el relleno en dispositivos móviles */
        width: calc(100% - 20px); /* Ancho ajustado para dispositivos móviles */
    }
}

@media only screen and (min-width: 275px) and (max-width: 598px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: #f3f5fc;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px; /* Reducir el tamaño de fuente para dispositivos móviles */
        line-height: 1.5;
        overflow-y: hidden; /* Evita el desplazamiento vertical en dispositivos móviles */
    }
    
    .logo {
        margin-top: 10px; /* Reducir el margen superior */
        margin-left: 10px;
        width: 15%; /* Ajustar el tamaño del logo para dispositivos móviles */
    }
    
    main {
        display: flex;
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        margin-bottom: 10px;
        margin-left: 10px; /* Reducir el margen izquierdo */
    }
    
    .text-area {
        border-radius: 15px;
        margin-left: 17px;
        text-align: center;
        height: 235px; /* Reducir la altura del área de texto para dispositivos móviles */
        border: none;
        color: #0A3871;
        margin-top: 10px; /* Reducir el margen superior */
        text-transform: lowercase;
        width: 90%;
    }
    
    ::placeholder {
        color: #0A3871;
    }
    
    .mensaje {
        background: white;
        background-image: url(imagenes/Muñeco.png);
        background-repeat: no-repeat;
        border: solid;
        border-color: white;
        height: 295px; /* Reducir la altura del mensaje para dispositivos móviles */
        border-radius: 15px; /* Reducir el radio del borde para dispositivos móviles */
        color: #0A3871;
        margin: 3px; /* Ajustar el margen en dispositivos móviles */
        padding: 12px; /* Ajustar el relleno en dispositivos móviles */
        margin-left: 17px;
        text-align: center;
        width: 90%;
       
    }
    
    .mensaje:hover {
        border-color: rgb(87, 185, 218);
    }
    
    .columna {
        display: flex;
        flex-direction: column; /* Cambiar a una disposición de columna en dispositivos móviles */
        margin: 10px; /* Ajustar el margen en dispositivos móviles */
    }
    
    .alerta {
        margin: -9% 185%; /* Ajustar el margen en dispositivos móviles */
        display: flex;
        gap: 1em;
    }
    
    .informacion {
        color: #495057;
        font-size: 14px; /* Reducir el tamaño de fuente para dispositivos móviles */
        margin: 10px; /* Ajustar el margen en dispositivos móviles */
        text-align: center;
    }
    
    .botones {
        display: flex;
        margin: 10px; /* Ajustar el margen en dispositivos móviles */
    }
    
    .btn-desencriptar, .btn-encriptar {
        border: 1px solid #0A3871;
        border-radius: 24px;
        color: #0A3871;
        margin: 5px; /* Ajustar el margen en dispositivos móviles */
        padding: 10px; /* Ajustar el relleno en dispositivos móviles */
        width: 100%; /* Ancho completo en dispositivos móviles */
    }
    
    #texto2 {
        text-align: center;
        font-size: 14px; /* Reducir el tamaño de fuente para dispositivos móviles */
    }
    
    .sinMsj {
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 18px; /* Ajustar el tamaño de fuente en dispositivos móviles */
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0em;
        margin: 5px 5px; /* Ajustar el margen en dispositivos móviles */
    }
    
    .ingreseMsj {
        text-align: center;
        font-size: 14px; /* Reducir el tamaño de fuente para dispositivos móviles */
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0em;
        margin: 5px 5px; /* Ajustar el margen en dispositivos móviles */
    }
    
    .copiar {
        border: 1px solid #0A3871;
        border-radius: 12px; /* Reducir el radio del borde para dispositivos móviles */
        color: #0A3871;
        cursor: pointer;
        margin: 5px 10px; /* Ajustar el margen en dispositivos móviles */
        padding: 10px; /* Ajustar el relleno en dispositivos móviles */
        width: calc(100% - 20px); /* Ancho ajustado para dispositivos móviles */
    }
}
